 <!-- reference -->
 <p class="font-ram text-black-50 py-2">

</p>
<ol>
    <li><strong>What is coronavirus?</strong><br>The coronavirus is a family of viruses that can cause a range of illnesses in humans including common cold and more severe forms like <a href="/topic/SARS" target="_blank">SARS</a> and <a href="/topic/MERS" target="_blank">MERS</a> which are life-threatening. The virus is named after its shape which takes the form of a crown with protrusions around it and hence is known as coronavirus. </li>
    <li><strong>How did the recent outbreak occur?</strong><br>The recent outbreak of coronavirus is believed to have occurred in a market for illegal wildlife in the central Chinese city of Wuhan. Chinese health authorities and the WHO are investigating the outbreak of the recent coronavirus.</li>
    <li><strong>Is the recent strain fatal?</strong><br>Since it's a new strain, there is no specific vaccine that can treat it. However, according to the WHO, "many of the symptoms can be treated &amp; therefore treatment based on the patient’s clinical condition". However, it has already killed over 119,000 globally.</li>
    <li><strong>What steps have been taken so far to check its spread?</strong><br>The Chinese govt initially locked down Wuhan - the epicenter of the virus outbreak. However it was too late. The virus has spread to all continents now, except Antarctica.</li>
    <li><strong>How is India responding to the outbreak?</strong><br>India has expanded screening of international travellers. Few Indian travellers who were found with the coronavirus strain have been isolated and treated before their release.</li>
    <li><strong>How has it affected the economy?</strong><br>Worries are mounting that prolonged quarantines, supply chain disruptions and a sharp reduction in tourism and business travel could weaken the global economy or even cause a recession.</li>
   </ol>
                    <section class="reference bg-light py-5 px-4">
                        <div class="refer py-3">
                            <h5 class="text-uppercase font-os font-size-16 text-muted">My Reference</h5>
                            <h1 class="text-uppercase font-staat font-size-34">References</h1>
                        </div>
                        <div class="row mb-5">
                            <div class="col-sm-4 my-3">
                                <img src="./assets/ss.jpg" alt="refer1" class="img-fluid">
                            </div>
                            <div class="col-sm-4 my-3">
                                <img src="./assets/s1.png" alt="refer1" class="img-fluid">
                            </div>
                            <div class="col-sm-4 my-3">
                                <img src="./assets/covid7.jpg" alt="refer1" class="img-fluid">
                            </div>
                            <div class="col-sm-4 my-3">
                                <img src="./assets/covid4.jpg" alt="refer1" class="img-fluid">
                            </div>
                            <div class="col-sm-4 my-3">
                                <img src="./assets/covid5.jpg" alt="refer1" class="img-fluid">
                            </div>
                            <div class="col-sm-4 my-3">
                                <img src="./assets/covid6.jpeg" alt="refer1" class="img-fluid">
                            </div>
                        </div>
                    </section>
                <!-- #reference -->
