<!--<div class="row">
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
                <h3>Confirmed</h3>
            </div>
            <div class="value">
                {{totalConfirmed}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
                <h3>Recovered</h3>
            </div>
            <div class="value">
                {{totalRecovered}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
                <h3>Deaths</h3>
            </div>
            <div class="value">
                {{totalDeaths}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="label">
                <h3>Active</h3>
            </div>
            <div class="value">
                {{totalActive}}
            </div>
        </div>
    </div>

</div>-->
<!-- services -->
                    <section class="services-area px-4 py-5" id="services" >
                        <div class="do py-5">
                            <h1 class="text font-staat font-size-34">StayAlert & Staysafe</h1>
                            <h2 class="text-uppercase font-staat font-size-34">Together We Can Fight Coronavirus</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"></span>
                                    <div class="ui statistic">
                                    <div class="label">
                                        <h3>Confirmed</h3>
                                    </div>
                                    <div class="value">
                                        {{totalConfirmed}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"></span>
                                    
                                    <div class="ui statistic">
                                        <div class="label">
                                            <h3>Recovered</h3>
                                        </div>
                                    <div class="value">
                                        {{totalRecovered}}
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"></span>
                                    <div class="ui statistic">
                                    <div class="label">
                                        <h3>Deaths</h3>
                                    </div>
                                    <div class="value">
                                        {{totalDeaths}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center"></div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center">
                                <div class="panel border p-4">
                                    <span class="icon text-secondary"></span>
                                    <div class="ui statistic">
                                    <div class="label">
                                        <h3>Active</h3>
                                    </div>
                                    <div class="value">
                                        {{totalActive}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-4 text-center"></div>
                        </div>
                    </section>
                <!-- #services -->
    

